In [1]:
import spacy
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [13]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc. for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc.  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [8]:
from spacy import displacy
displacy.render(doc , style="ent")

In [9]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [11]:
doc = nlp("Michael Bloomberg founded Bloomberg Inc. in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg Inc. | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [14]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PERSON
$45 billion  |  MONEY

In [15]:
s = doc[2:5]
s
type(s)

spacy.tokens.span.Span

In [17]:
from spacy.tokens import Span

s1= Span(doc, 5,6, label="ORG")
doc.set_ents([s1], default="unmodified")

In [18]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

# Named Entity Recognition (NER): Exercises

## Excersie: 1
- Extract all the Geographical (cities, Countries, states) names from a given text

In [19]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [25]:
gpe_names=[ent.text for ent in doc.ents if ent.label_=="GPE" and ent.text != "Kiran"]
print("Geographical location Names: ", gpe_names)
print("Count: ", len(gpe_names))

Geographical location Names:  ['India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Assam', 'Bihar']
Count:  7

## Excersie: 2
- Extract all the birth dates of cricketers in the given Text

In [26]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [29]:
birth_dates=[ent.text for ent in doc.ents if ent.label_=="DATE"]
print("All Birth Dates: ",birth_dates)
print("Count: ", len(birth_dates))

All Birth Dates:  ['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']
Count:  4